.VehicleDetails-lists{
    border-top: 1px solid #00000040;
    border-bottom: 1px solid #00000040;
}
.VehicleDetails-list{
    padding-left: 16px;
}
.VehicleDetails-description_outer{
    height: 300px;
    padding: 16px;
    border-top: 1px solid #00000040;
    border-bottom: 1px solid #00000040;
    opacity: .6;
}

.VehicleDetails-footer{
    width: 90%;
    margin: 44px auto;
}