.Auth__NameInput-outer{
    margin: 44px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Auth__NameInput-top_text{
    margin-bottom: 44px;
}
.Auth__NameInput-first_name{
    margin-bottom: 20px;
}
.Auth__NameInput-last_name{
    margin-bottom: 10px;
}
.Auth__NameInput-small_text{
    font-size: small;
}
.Auth__NameInput-empty_space{

    height: 450px;
}
.Auth__NameInput-btn{
    width: 80%;
}
