.Auth__NameInput-outer{
    margin: 44px 16px;
    display: flex;
    justify-content: space-between;
    height: 86vh;
    min-height: 400px;
    align-items: center;
    flex-direction: column;
}
.Auth__NameInput-top_text{
    margin-bottom: 44px;
}
.Auth__NameInput-first_name{
    margin-bottom: 20px;
}
.Auth__NameInput-last_name{
    margin-bottom: 10px;
}
.Auth__NameInput-small_text{
    font-size: small;
}
.Auth__NameInput-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
