/* -------------------------------------------
 * Section 1
 * -----------------------------------------*/
 .login--section_1--container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(194, 194, 194);
  height: 100%;
  padding: 40px 50px;
  h2{
    font-size: 15px
  }
 }


@import "./login.responsive";
