.AccTakeSelfie-outer{
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.AccTakeSelfie-image{
    max-height: 300px;
    height: 400px;
}