.NotEligible-outer{
    display: flex;
    min-height: 87vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center ;
}
.NotEligible-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        filter: invert(1);
    }
}
.NotEligible-footer{
    width:90%;
}
