.Auth__EnterPhone-outer{
    margin: 44px 16px;
    display: flex;
    justify-content: space-between;
    height: 86vh;
    min-height: 400px;
    align-items: center;
    flex-direction: column;
}
.Auth__EnterPhone-top_text{
    margin-bottom: 44px;
}
.Auth__EnterPhone-input_number{
    margin-bottom: 10px;
    width: 100%;
}
.Auth__EnterPhone-small_text{
    font-size: smalle;
}
.Auth__EnterPhone-terms_text{
    margin-bottom: 10px;
}
.Auth__EnterPhone-agree_text{
    margin-bottom: 10px;
}
.Auth__EnterPhone-terms_text{
    margin-bottom: 16px;

    color: $mainColor;
}
.Auth__EnterPhone-footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}