.Button{
    background-color: $mainColor;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: white;
    border-radius: 6px;
    width: 100%;
    border: none;
}