.carchaze__list-style__container {
	display: block;
	margin-bottom: 40px;
}
.carchaze__list-style__container:last-child {
	margin-bottom: 0;
}
.carchaze__list-style__top {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.carchaze__list-style__top-left {
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	border: 2px solid #000;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	font-size: 24px;
	font-family: text-sb;
}
.carchaze__list-style__top-right {
	font-size: 35px;
	font-family: text-sb;
	margin-top: 2px;
	margin-left: 20px;
}
.carchaze__list-style__bottom {
	margin-top: 15px;
	font-size: 25px;
	color: #000;
	margin-left: 60px;
	line-height: 33px;
}
.listing__styler-footer {
	font-size: 23px;
	color: #000;
	margin-left: 60px;
}
.listing__styler-footer > span {
	color: var(--main-color);
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.listing__styler-footer > span:hover {
	text-decoration-line: underline;
}
/* Media Query */
@media (max-width: 1300px) {
	.carchaze__list-style__top-left {
		width: 35px;
		height: 35px;
		font-size: 22px;
	}
	.carchaze__list-style__top-right {
		font-size: 28px;
	}
	.carchaze__list-style__bottom {
		margin-top: 10px;
		font-size: 22px;
		line-height: 28px;
	}
	.listing__styler-footer {
		font-size: 19px;
	}
}

@media (max-width: 1000px) {
}
@media (max-width: 850px) {
}
@media (max-width: 600px) {
	.carchaze__list-style__top-left {
		width: 26px;
		height: 26px;
		font-size: 17px;
	}
	.carchaze__list-style__top-right {
		font-size: 24px;
		margin-left: 10px;
	}
	.carchaze__list-style__bottom {
		margin-top: 6px;
		font-size: 18px;
		line-height: 22px;
		margin-left: 38px;
	}
	.listing__styler-footer {
		font-size: 17px;
		margin-left: 38px;
	}
}
@media (max-width: 450px) {
}
@media (max-width: 350px) {
	.carchaze__list-style__top-left {
		width: 22px;
		height: 22px;
		font-size: 14px;
	}
	.carchaze__list-style__top-right {
		font-size: 22px;
	}
	.carchaze__list-style__bottom {
		font-size: 17px;
		line-height: 21px;
		margin-left: 0;
	}
	.listing__styler-footer {
		font-size: 16px;
		margin-left: 0;
	}
}
