.HostEnterEarnMoney-outer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 87vh;
    img{
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 44px;
    }

    
}
.HostEnterEarnMoney-content{
    width: 100%;

}
.HostEnterEarnMoney-footer{
    width: 100%;
}