.loader--backContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	backdrop-filter: blur(2px);
}
.loader--frontContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	border-width: 0;
}
