.Auth__Otp-outer{
    margin: 44px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Auth__Otp-top_text{

    margin-bottom: 10px;
}
.Auth__Otp-number_text{
    margin-bottom: 44px;
}

.Auth__Otp-input_code{
    margin-bottom: 22px;
}
.Auth__Otp-resend_btn{
    margin-bottom: 10px;
    width: 80%;
}
.Auth__Otp-call_btn{

    width: 80%;
}