/* 
* Blair Itc  
*/
@font-face {
	font-family: "b-b";
	src: url(../fonts/blair-itc-bold.ttf) format("truetype");
}
/* 
* SFProText  
*/
@font-face {
	font-family: "text-r";
	src: url(../fonts/SFProText-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "text-sb";
	src: url(../fonts/SFProText-Semibold.ttf) format("truetype");
}
@font-face {
	font-family: "text-b";
	src: url(../fonts/SFProText-Bold.ttf) format("truetype");
}
/*
* SFProDisplay  
*/
@font-face {
	font-family: "display-r";
	src: url(../fonts/SFProDisplay-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "display-sb";
	src: url(../fonts/SFProDisplay-Semibold.ttf) format("truetype");
}
@font-face {
	font-family: "display-b";
	src: url(../fonts/SFProDisplay-Bold.ttf) format("truetype");
}
