$headerBg: #fff;
$footerBg: #fff;
$appBg: #f8faff;
$mainColor: #ff3b30;
$basicColor: #ff3b30;
$sectionBg: #f2f2f7;
$spanColor: grey;
$topNavigationBgColor: #fff;
$tabActiveColor: rgb(245, 56, 48);
$tabInactiveColor: #aeaeb2cd;
$basicBorderColor: #91919736;
$spanColor: grey;
$tabActiveColor: rgb(245, 56, 48);
$tabInactiveColor: #aeaeb2;
$iconColor: rgb(150, 150, 150);
$modalSheetBgColor: rgba(0, 0, 0, 0.3);
$popupColor: #f0f0f0;
$actionSheetBorderColor: #c0c0c0;
$modalSheetLightBgColor: #e2e2e2dd;
$popupBgColor: #cccccc;
$toastColor: #747474cf;

$sectionPadding: 70px 20px;
$borderHeight: 1px;
