html {
	font-family: "text-r" sans-serif;
	/* -ms-text-size-adjust: 100%; */
	/* -webkit-text-size-adjust: 100%; */
	/* text-size-adjust: 100%; */
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	font-family: "text-r" sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-family: "text-b";
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	/* margin: 0.67em 0; */
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
	outline: none;
	transition: all 0.2s ease-in-out 0s;
	text-align: center;
	font-family: text-sb;
}

button,
select {
	font-family: "text-r" sans-serif;
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
	font-family: "text-r" sans-serif;
	outline: none;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	font-family: "text-r" sans-serif;
	outline: none;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/* ===================================================================
 *  02. basic/base setup styles - (_basic.scss)
 *
 * ------------------------------------------------------------------- */
html {
	font-size: 17px;
	box-sizing: border-box;
	font-family: text-r;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-weight: normal;
	line-height: 1;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	font-family: "text-r";
}

body,
input,
button {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/* ------------------------------------------------------------------- 
 * Media - (_basic.scss)
 * ------------------------------------------------------------------- */
img,
video {
	max-width: 100%;
	height: auto;
}

/* ------------------------------------------------------------------- 
 * Typography resets - (_basic.scss)
 * ------------------------------------------------------------------- */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* -webkit-font-variant-ligatures: common-ligatures;
	-moz-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility; */
	letter-spacing: -1px;
	/* word-spacing: 2px; */
	font-weight: 400;
	/* font-family: text-b; */
}
h1 {
}

em,
i {
	font-style: italic;
	line-height: inherit;
}

strong,
b {
	font-weight: bold;
	line-height: inherit;
}

small {
	font-size: 60%;
	line-height: inherit;
}

ol,
ul {
	list-style: none;
}

li {
	display: block;
}

/* ------------------------------------------------------------------- 
 * links - (_basic.scss)
 * ------------------------------------------------------------------- */
a {
	text-decoration: none;
	line-height: inherit;
}

a img {
	border: none;
}

/* ------------------------------------------------------------------- 
 * inputs - (_basic.scss)
 * ------------------------------------------------------------------- */
fieldset {
	margin: 0;
	padding: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

/* ===================================================================
 *  03. grid - (_grid.scss)
 *
 * ------------------------------------------------------------------- */
.row {
	width: 94%;
	max-width: 1170px;
	margin: 0 auto;
}
.row:before,
.row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}

.row .row {
	width: auto;
	max-width: none;
	margin-left: -20px;
	margin-right: -20px;
}

[class*="col-"],
.bgrid {
	float: left;
}

[class*="col-"] + [class*="col-"].end {
	float: right;
}

[class*="col-"] {
	padding: 0 20px;
}

.col-one {
	width: 8.33333%;
}

.col-two,
.col-1-6 {
	width: 16.66667%;
}

.col-three,
.col-1-4 {
	width: 25%;
}

.col-four,
.col-1-3 {
	width: 33.33333%;
}

.col-five {
	width: 41.66667%;
}

.col-six,
.col-1-2 {
	width: 50%;
}

.col-seven {
	width: 58.33333%;
}

.col-eight,
.col-2-3 {
	width: 66.66667%;
}

.col-nine,
.col-3-4 {
	width: 75%;
}

.col-ten,
.col-5-6 {
	width: 83.33333%;
}

.col-eleven {
	width: 91.66667%;
}

.col-twelve,
.col-full {
	width: 100%;
}

/* ------------------------------------------------------------------- 
 * small screens - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1024px) {
	.row .row {
		margin-left: -18px;
		margin-right: -18px;
	}

	[class*="col-"] {
		padding: 0 18px;
	}
}
/* ------------------------------------------------------------------- 
 * tablets - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
	.row {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
	}

	.row .row {
		padding-left: 0;
		padding-right: 0;
		margin-left: -15px;
		margin-right: -15px;
	}

	[class*="col-"] {
		padding: 0 15px;
	}

	.tab-1-4 {
		width: 25%;
	}

	.tab-1-3 {
		width: 33.33333%;
	}

	.tab-1-2 {
		width: 50%;
	}

	.tab-2-3 {
		width: 66.66667%;
	}

	.tab-3-4 {
		width: 75%;
	}

	.tab-full {
		width: 100%;
	}
}
/* ------------------------------------------------------------------- 
 * large mobile devices - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
	.row {
		padding-left: 25px;
		padding-right: 25px;
	}

	.row .row {
		margin-left: -10px;
		margin-right: -10px;
	}

	[class*="col-"] {
		padding: 0 10px;
	}

	.mob-1-4 {
		width: 25%;
	}

	.mob-1-2 {
		width: 50%;
	}

	.mob-3-4 {
		width: 75%;
	}

	.mob-full {
		width: 100%;
	}
}
/* ------------------------------------------------------------------- 
 * small mobile devices - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 400px) {
	.row .row {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	[class*="col-"] {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}

	[class*="col-"] + [class*="col-"].end {
		float: none;
	}
}
/* ===================================================================
 * block grids - (_grid.scss)
 *
 * ------------------------------------------------------------------- */
[class*="block-"]:before,
[class*="block-"]:after {
	content: "";
	display: table;
}
[class*="block-"]:after {
	clear: both;
}

.block-1-6 .bgrid {
	width: 16.66667%;
}

.block-1-4 .bgrid {
	width: 25%;
}

.block-1-3 .bgrid {
	width: 33.33333%;
}

.block-1-2 .bgrid {
	width: 50%;
}

/**
 * Clearing for block grid columns. Allow columns with 
 * different heights to align properly.
 */
.block-1-6 .bgrid:nth-child(6n + 1),
.block-1-4 .bgrid:nth-child(4n + 1),
.block-1-3 .bgrid:nth-child(3n + 1),
.block-1-2 .bgrid:nth-child(2n + 1) {
	clear: both;
}

/* ------------------------------------------------------------------- 
 * small screens - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1024px) {
	.block-s-1-6 .bgrid {
		width: 16.66667%;
	}

	.block-s-1-4 .bgrid {
		width: 25%;
	}

	.block-s-1-3 .bgrid {
		width: 33.33333%;
	}

	.block-s-1-2 .bgrid {
		width: 50%;
	}

	.block-s-full .bgrid {
		width: 100%;
		clear: both;
	}

	[class*="block-s-"] .bgrid:nth-child(n) {
		clear: none;
	}

	.block-s-1-6 .bgrid:nth-child(6n + 1),
	.block-s-1-4 .bgrid:nth-child(4n + 1),
	.block-s-1-3 .bgrid:nth-child(3n + 1),
	.block-s-1-2 .bgrid:nth-child(2n + 1) {
		clear: both;
	}
}
/* ------------------------------------------------------------------- 
 * tablets - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
	.block-tab-1-6 .bgrid {
		width: 16.66667%;
	}

	.block-tab-1-4 .bgrid {
		width: 25%;
	}

	.block-tab-1-3 .bgrid {
		width: 33.33333%;
	}

	.block-tab-1-2 .bgrid {
		width: 50%;
	}

	.block-tab-full .bgrid {
		width: 100%;
		clear: both;
	}

	[class*="block-tab-"] .bgrid:nth-child(n) {
		clear: none;
	}

	.block-tab-1-6 .bgrid:nth-child(6n + 1),
	.block-tab-1-4 .bgrid:nth-child(4n + 1),
	.block-tab-1-3 .bgrid:nth-child(3n + 1),
	.block-tab-1-2 .bgrid:nth-child(2n + 1) {
		clear: both;
	}
}
/* ------------------------------------------------------------------- 
 * large mobile devices - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
	.block-mob-1-6 .bgrid {
		width: 16.66667%;
	}

	.block-mob-1-4 .bgrid {
		width: 25%;
	}

	.block-mob-1-3 .bgrid {
		width: 33.33333%;
	}

	.block-mob-1-2 .bgrid {
		width: 50%;
	}

	.block-mob-full .bgrid {
		width: 100%;
		clear: both;
	}

	[class*="block-mob-"] .bgrid:nth-child(n) {
		clear: none;
	}

	.block-mob-1-6 .bgrid:nth-child(6n + 1),
	.block-mob-1-4 .bgrid:nth-child(4n + 1),
	.block-mob-1-3 .bgrid:nth-child(3n + 1),
	.block-mob-1-2 .bgrid:nth-child(2n + 1) {
		clear: both;
	}
}
/* ------------------------------------------------------------------- 
 * stack on small mobile devices - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 400px) {
	.stack .bgrid {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
	}
}
/* ===================================================================
 *  04. MISC  - (_grid.scss)
 *
 * ------------------------------------------------------------------- */

/* Clearing - (http://nicolasgallagher.com/micro-clearfix-hack/
 */
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}

/* Misc Helper Styles 
 */
.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}

.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
	overflow: hidden;
}

.remove-bottom {
	margin-bottom: 0;
}

.half-bottom {
	margin-bottom: 1.5rem !important;
}

.add-bottom {
	margin-bottom: 3rem !important;
}

.no-border {
	border: none;
}

.full-width {
	width: 100%;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.align-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

a {
	color: rgb(21, 96, 236);
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* -----------------------------------------------------------
* Custom Classes
* ----------------------------------------------------------*/
.user-select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.pointer-cursor {
	cursor: pointer;
}
.filled-button {
	height: 44px;
	border: 1px solid var(--main-color);
	background-color: var(--main-color);
	color: #fff;
	padding: 5px 15px;
	border-radius: 0;
	opacity: 1;
	transition: all 0.3s ease-in-out 0s;
	font-family: "text-b";
	text-decoration: none;
}
.filled-button:hover {
	opacity: 0.95;
	background-color: transparent;
	color: var(--main-color);
}
.outlined-button {
	background-color: transparent;
	border: 1px solid var(--main-color);
	border-radius: 0px;
	padding: 8px 15px;
	height: 50px;
	color: var(--main-color);
	margin-top: 80px;
	transition: all 0.2s ease-in-out 0s;
	font-family: "text-b";
}
.outlined-button:hover {
	background-color: var(--main-color);
	color: #fff;
}
.no-radius {
	border-radius: 0;
}
a {
	color: var(--main-color);
}
a:hover {
	text-decoration-line: underline;
}
img {
	user-select: none;
	-webkit-user-select: none;
	moz-user-select: none;
	-webkit-user-drag: none;
	pointer-events: none;
}
.opacity-6{
	opacity: .6;
}
.space-16{
	height: 16px;
}
.space-44{
	height: 44px;
}
.mt-44{
	margin-top: 44px;
}
.mb-44{
	margin-bottom: 44px;
}
.mv-44{
	margin-top: 44px;
	margin-bottom: 44px;
}
.mt-16{
	margin-top: 16px
}
.mb-16{
	margin-bottom: 16px
}
.mv-16{
	margin-top: 16px;
	margin-bottom: 16px;
}
.mh-16{
	margin-left: 16px;
	margin-right: 16px;
}


@import "./variables";
@import "./font";

// =============================  Component - Public  =============================
@import "../../components/public/resources/Button/button";
@import "../../components/public/resources/Input/input";
@import "../../components/public/resources/List/List";
@import "../../components/public/resources/ListWithIcons/listWithIcons";
@import "../../components/public/resources/RoundButton/roundButton";

// =============================  Component - Utility  =============================

// =============================  Pages - Static  =============================
@import "../../pages/Home/home";
@import "../../pages/Auth/PhoneNumberInput/PhoneNumberInput";
@import "../../pages/Auth/OTP/otp";
@import "../../pages/Auth/NamesInput/nameInput";
@import "../../pages/Account/Account/account";
@import "../../pages/Account/Profile/profile";
@import "../../pages/Account/AccountManager/accountManager";
@import "../../pages//Account/Membership/membership";
@import "../../pages/Account/Facebook/facebook";
@import "../../pages/Account/DrivingLicense/drivingLicense";
@import "../../pages/Account/ChangeNumber/changeNumber";
@import "../../pages/Account/TakSelfie/takeSelfie";
@import "../../pages/Host/Listing/Basic/AddVehicle/addVehicle";
@import "../../pages/Host/Listing/Basic/IdentifyVehicle/identifyVehicle";
@import "../../pages/Host/Listing/Location/AddAddress/addAddress";
@import "../../pages/Host/Listing/Location/ExactLocation/exactLocation";
@import "../../pages/Host/Listing/Location/SearchAddAddress/seachAddAddress";
@import "../../pages/Host/Listing/Eligibility/Eligible/eligible";
@import "../../pages/Host/Listing/Eligibility/NotEligilble/notEligible";
@import "../../pages/Host/Listing/Features/AddNewFeature/addNewFeatures";
@import "../../pages/Host/Listing/Features/DeleteCustomFeature/deleteCustomFeature";
@import "../../pages/Host/Listing/Features/FeaturesGrid/featuresGrid";
@import "../../pages/Host/Listing/Features/FeaturesList/featuresList";
@import "../../pages/Host/Listing/Photos/AddVehiclePhoto/addVehiclePhoto";
@import "../../pages/Host/Listing/Photos/VehicleRegisterPhoto/vehicleRegisterPhoto";
@import "../../pages/Host/Listing/Finish/FinishDescription/finishDescription";
@import "../../pages/Host/Listing/Finish/FinishInReview/finishInReview";
@import "../../pages/Host/Listing/Finish/FinishStandards/finishStandards";
@import "../../pages/Host/Manager/Basic/InReviewListing/inReviewListing";
@import "../../pages/Host/Manager/Basic/VehicleDetails/vehicleDetails";
@import "../../pages/Host/Manager/Basic/VehiclePhotos/vehiclePhotos";
@import "../../pages/Host/Manager/Basic/YourVehicle/yourVehicle";

@import "../../pages/Host/Manager/Basic/CustomisePrice/customisePrice";
@import "../../pages/Host/Manager/Basic/DailyDistance/dailyDistance";
@import "../../pages/Host/Manager/Basic/DailyPrice/dailyPrice";
@import "../../pages/Host/Manager/Basic/DefaultPrice/defaultPrice";
@import "../../pages/Host/Manager/Basic/Discount/discount";
@import "../../pages/Host/Manager/Basic/HostPricing/hostPricing";

@import "../../pages/Host/Manager/Location/AddLocation/hostAddLocation";
@import "../../pages/Host/Manager/Location/DeliveryZone/hostDeliveryZone";
@import "../../pages/Host/Manager/Location/DeliveryLocation/hostDeliveryLocation";
@import "../../pages/Host/Manager/Location/ExactLocation/hostExactLocation";
@import "../../pages/Host/Manager/Location/PickReturnLocation/pickReturnLocation";
@import "../../pages/Host/Manager/Location/VehicleLocation/hostVehicleLocation";

@import "../../pages/Host/Manager/Basic/Requests/TripBooked/tripBooked";
@import "../../pages/Host/Manager/Basic/Requests/PayDues/payDues";
@import "../../pages/Host/Manager/Basic/Requests/TripPending/tripPending";

@import "../../pages/Host/Manager/Basic/Transactions/hostTransaction";
@import "../../pages/Host/Manager/Basic/Reviews/hostReview";
@import "../../pages/Host/Manager/Basic/TripSetting/hostTripSetting";
@import "../../pages/Host/Manager/Basic/VehicleProtection/hostVehicleProtection";
@import "../../pages/Host/Manager/Basic/SelectPlan/hostSelectPlan";


@import "../../pages/Host/Manager/Basic/HostTripDates/hostTripDates";
@import "../../pages/Host/Manager/Basic/HostPickLocation/hostPickLocation";
@import "../../pages/Host/Manager/Basic/HostDeliveredYou/hostDeliverdYou";
@import "../../pages/Host/Manager/Basic/ReportListing/reportListing";


@import "../../pages/Host/Manager/Basic/HostFeaturesList/hostFeaturesList";
@import "../../pages/Host/Manager/Basic/HostTripReviews/hostTripReviews";
@import "../../pages/Host/Manager/Basic/HostProfile/hostProfile";