// ======= ProfileName ========
.account--profile_name--container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.account--profile_name--image{
  height: 64px;
  width: 63px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 66 / 2;
  object-fit: cover;
}
.account--profile_name--icon{
  font-size: 66px;
  fill: $iconColor;
  color: $iconColor;
}
.account--profile_name--rightView{
  margin-left: 10px;
}
.account--profile_name--nameText{
  font-family: 'text-sb';
  font-size: 22px;
  text-align: left;
  color: #000;
}
.account--profile_name--joinedText{
  font-family: 'text-r';
  font-size: 17px;
  text-align: left;
  color: #000;
}
.account--profile_name--tripText{
  font-family: 'text-r';
  font-size: 20px;
  text-align: left;
  color: rgb(130,130,130);
  margin-top: 4px;
}
