.HostPricing-text{
    opacity: .6;
    font-size: smaller;
}
.HostPricing-list{
    padding-left: 10px;
}
.HostPricing-lists{
    border-top: 1px solid #00000040;
    border-bottom: 1px solid #00000040;
}